{% extends "base.html" %} {% block title %}TravelInfo{% endblock %} {% block
content %}

<div class="container text-left pt-5">
  <div>
    <!--   title   -->
    <p class="fs-1">Welcome to TravelInfo</p>
    <p class="fs-4 mb-5">
      Find all the important information you might need before traveling to a
      new city in one place! <br />All that's left for you to do is let us know
      where and when you're traveling.
    </p>
  </div>
  <!--   form   -->
  <div id="form-container">
    <script type="module">
      import { chooseCitiesAndDatesForm } from "../static/components/form.js";
      chooseCitiesAndDatesForm("form-container");
    </script>
  </div>
</div>

{% endblock %}
