{% extends "base.html" %} {% block title %}TravelInfo{% endblock %} {% block
content %}


</head>
<body class="container pt-5">
<!-- title -->
<p class="fs-4 mb-3">
  Some important details you should know before traveling to {{destination_name}}:
</p>

<!-- weather forecast -->
<div class="image-cell align-top" style="text-align: center">
</div>
<br>
<table id="weather-table" class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Minimum<br>Temperature</th>
      <th>Maximum<br>Temperature</th>
      <th>Sunrise</th>
      <th>Sunset</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in weather.items() %}
    <tr>
      <td>{{ key }}</td>
      <td>{{ value.min_temp_c }}°C / {{ value.min_temp_f }}°F</td>
      <td>{{ value.max_temp_c }}°C / {{ value.max_temp_f }}°F</td>
      <td>{{ value.sunrise }}</td>
      <td>{{ value.sunset }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- city information -->
<br /><br />
<table id="city-info-table">
  <tbody>
    <tr id="image-row"></tr>
    <tr id="description-row"></tr>
  </tbody>
</table>

<script type="module">   
  import { populateCityTable } from '../static/components/table.js';
  const cityDetails = JSON.parse('{{ city_details | safe }}');
  populateCityTable(cityDetails);
</script>

{% endblock %}