<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"
      integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N"
      crossorigin="anonymous"
    />
    <title>TravelInfo</title>
  </head>
  <body class="container text-left pt-5">
    <div>
      <p class="fs-1">Welcome to TravelInfo</p>
      <p class="fs-4 mb-5">
        Find all the important information you might need before traveling to a
        new city in one place! <br />All that's left for you to do is let us
        know where and when you're traveling.
      </p>
    </div>
    <form action="/info" method="POST">
      <div class="input-group mb-3">
        <label class="input-group-text" for="sourceCities"
          >I'm leaving from</label
        >
        <select class="form-select" id="sourceCities" name="sourceCities">
          <option selected>Choose...</option>
          <option value="New York City">New York City</option>
          <option value="Mumbai">Mumbai</option>
          <option value="London">London</option>
          <option value="Barcelona">Barcelona</option>
          <option value="Tel Aviv">Tel Aviv</option>
        </select>
      </div>

      <div class="input-group mb-5">
        <label class="input-group-text" for="destinationCities"
          >I'm arriving at</label
        >
        <select class="form-select" id="destinationCities" name="destinationCities">
          <option selected>Choose...</option>
          <option value="New York City">New York City</option>
          <option value="Mumbai">Mumbai</option>
          <option value="London">London</option>
          <option value="Barcelona">Barcelona</option>
          <option value="Tel Aviv">Tel Aviv</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="arrivalDatePicker">Arrival date:</label>
        <input type="date" id="arrivalDatePicker" name="arrivalDatePicker" />
      </div>

      <div class="mb-5">
        <label for="departureDatePicker">Departure date:</label>
        <input type="date" id="departureDatePicker" name="departureDatePicker" />
      </div>

      <div class="input-group mb-5">
        <button type="submit" class="btn btn-primary">Get Travel Info</button>
      </div>
    </form>
  </body>
</html>
